<ion-view title="Dialogs" ng-controller="DialogsCtrl">
    <ion-content class="has-header padding">

        <button class="button button-full button-balanced" ng-click="alert()">Alert</button>
        <button class="button button-full button-balanced" ng-click="confirm()">Confirm</button>
        <button class="button button-full button-balanced" ng-click="prompt()">Prompt</button>
        <button class="button button-full button-balanced" ng-click="beep()">Beep</button>
    </ion-content>
</ion-view>