<ion-view title="Device Info">
    <ion-content class="has-header padding">

        <button class="button button-full button-balanced" ng-click="deviceModel()">Device Model</button>
        <button class="button button-full button-balanced" ng-click="devicePlatform()">Device Platform</button>
        <button class="button button-full button-balanced" ng-click="deviceUUID()">Device UUID</button>
        <button class="button button-full button-balanced" ng-click="deviceVersion()">Device Version</button>
        <button class="button button-full button-balanced" ng-click="cordovaVersion()">Cordova Version</button>
        <button class="button button-full button-balanced" ng-click="device()">Device Info</button>

        <h2>{{results}}</h2>
    </ion-content>
</ion-view>